<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>工作进度管理-修改用户信息</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" th:href="@{../assets/img/work.png}">
  <link rel="apple-touch-icon-precomposed" th:href="@{../assets/i/app-icon72x722x.png}">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" th:href="@{../assets/css/amazeui.min.css}"/>
  <link rel="stylesheet" th:href="@{../assets/css/admin.css}">
  <script type="text/javascript" th:src="@{../webjars/jquery/3.0.0/jquery.js}"></script>
  <script type="text/javascript" th:src="@{../assets/js/jquery.pagination.js}"></script>
</head>
<body>
<header class="am-topbar admin-header">
  <div class="am-topbar-brand">
    <strong style="color: red">HAND</strong>
    <small th:text = "${user.organization}"></small>
  </div>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

    <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
      <li><a href="javascript:;"><span class="am-icon-envelope-o"></span> 通知<span class="am-badge am-badge-warning">5</span></a></li>
      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          <span class="am-icon-users" th:text = "${user.name}"></span> <span class="am-icon-caret-down"></span>
        </a>
        <ul class="am-dropdown-content">
          <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
          <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
          <li><a href="javascript:;" onclick="logout()"><span class="am-icon-power-off"></span> 退出</a></li>
        </ul>
      </li>
      <li><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
    </ul>
  </div>
</header>

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <div class="admin-sidebar">
    <ul class="am-list admin-sidebar-list">
      <li><a href="admin-index"><span class="am-icon-home"></span> 首页</a></li>
      <li class="admin-parent">
        <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 系统管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
        <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
          <li><a href="admin-user"><span class="am-icon-puzzle-piece"></span>用户管理</a></li>
          <li><a href="admin-notice"><span class="am-icon-bookmark"></span> 公告管理</a></li>
        </ul>
      </li>
      <li><a href="javascript:;" onclick="logout()"><span class="am-icon-sign-out"></span>注销</a></li>
    </ul>

    <div class="am-panel am-panel-default admin-sidebar-panel">
      <div class="am-panel-bd">
        <p><span class="am-icon-bookmark"></span> 公告</p>
        <p th:text ="${notice.noticeText}"></p>
        <p th:text ="${notice.userName}" align="right"></p>
        <p th:text ="${notice.noticeDate}" align="right"></p>
      </div>
    </div>
  </div>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">用户管理</strong>/<small>修改信息</small></div>
    </div>

    <div class="am-tabs am-margin" data-am-tabs>
      <ul class="am-tabs-nav am-nav am-nav-tabs">
        <li><a href="#tab">用户信息</a></li>
      </ul>

      <div class="am-tabs-bd">

        <div class="am-tab-panel am-fade" id="tab">
          <form class="am-form" id="userForm">
            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-2 am-text-right">
                工号
              </div>
              <div class="am-u-sm-4 am-u-end">
                <input type="text" th:value="${userInfo.jobNumber}" class="am-input-sm" name="jobNumber" id="jobNumber">
              </div>
            </div>

            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-2 am-text-right">
                登录名
              </div>
              <div class="am-u-sm-4 am-u-end">
                <input type="text" th:value="${userInfo.username}"class="am-input-sm"
                       name="username" id="username">
              </div>
            </div>

            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-2 am-text-right">
                姓名
              </div>
              <div class="am-u-sm-4 am-u-end">
                <input type="text" th:value="${userInfo.name}" name="name" id="name">
              </div>
            </div>

            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-2 am-text-right">
                组织
              </div>
              <div class="am-u-sm-4 am-u-end">
                <select id="organization" th:field="${userInfo.organization}" th:value="${userInfo.organization}">
                  <option value="">选择组织</option>
                  <option th:selected = "${userInfo.organization}=='CRM事业部成都远程中心'" value="CRM事业部成都远程中心">CRM事业部成都远程中心</option>
                  <option th:selected = "${userInfo.organization}=='上海汉得信息技术股份有限公司'" value="上海汉得信息技术股份有限公司">上海汉得信息技术股份有限公司</option>
                  <option th:selected = "${userInfo.organization}=='系统管理组'" value="系统管理组">系统管理组</option>
                </select>
              </div>
            </div>

            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-2 am-text-right">
                职位
              </div>
              <div class="am-u-sm-4 am-u-end">
                <select id="position" th:field="${userInfo.position}" th:value="${userInfo.position}">
                  <option value="">选择职位</option>
                  <option th:selected = "${userInfo.position}=='其他'" value="其他">其他</option>
                  <option th:selected = "${userInfo.position}=='技术顾问'" value="技术顾问">技术顾问</option>
                  <option th:selected = "${userInfo.position}=='技术经理'" value="技术经理">技术经理</option>
                </select>
              </div>
            </div>
            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-2 am-text-right">
                类型
              </div>
              <div class="am-u-sm-4 am-u-end">
                <select  id="type" th:field="${userInfo.type}" th:value="${userInfo.type}">
                  <option value="2">选择类型</option>
                  <option th:selected = "${userInfo.type}=='0'" value="0">用户</option>
                  <option th:selected = "${userInfo.type}=='1'" value="1">管理员</option>
                </select>
              </div>
            </div>


          </form>
        </div>
      </div>
    </div>

    <div class="am-margin">
      <button type="button" class="am-btn am-btn-primary am-btn-xs" onclick="updateUser()">保存修改</button>
    </div>
  </div>
  <!-- content end -->

</div>


<!--<footer>
  <hr>
  <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>-->
<script th:inline="javascript">
    function updateUser() {
        var userId = [[${userInfo.userId}]];
        var jobNumber = $("#jobNumber").val();
        var userName = $("#username").val();
        var name = $("#name").val();
        var position = $("#position").val();
        var organization = $("#organization").val();
        var type = $("#type").val();
        if ((jobNumber==""||jobNumber==null)||(userName==""||userName==null)||(name==""||name==null)){
            alert("请完善用户信息");
        }
        else if (position==""||position==null){
            alert("请选择职位");
        }
        else if (organization==""||organization==null){
            alert("请选择组织");
        }
        else if (type==2||type==""||type==null){
            alert("请选择类型");
        }
        else{
            $.ajax({
                type : "POST",
                url : "/work-task-manage/admin/update-user?userId="+userId,
                data : $("#userForm").serialize(),
                success:function (data) {
                    if ("success"==data){
                        alert("修改成功")
                        window.location.href = "/work-task-manage/admin/admin-user";
                    }
                    else{
                        alert("修改失败，"+data.errMsg)
                    }
                }
            });
        }
    }
    function logout() {
        if (confirm("确定要注销吗？")){
            window.location.href = "logout";
        }
    }
</script>
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script th:src="@{../assets/js/polyfill/rem.min.js}"></script>
<script th:src="@{../assets/js/polyfill/respond.min.js}"></script>
<script th:src="@{../assets/js/amazeui.legacy.js}"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script th:src="@{../assets/js/jquery.min.js}"></script>
<script th:src="@{../assets/js/amazeui.min.js}"></script>
<!--<![endif]-->
<script th:src="@{../assets/js/app.js}"></script>
</body>
</html>
