<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>工作进度管理-发送消息</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" th:href="@{../assets/img/work.png}">
  <link rel="apple-touch-icon-precomposed" th:href="@{../assets/i/app-icon72x722x.png}">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" th:href="@{../assets/css/amazeui.min.css}"/>
  <link rel="stylesheet" th:href="@{../assets/css/admin.css}">
  <script type="text/javascript" th:src="@{../webjars/jquery/3.0.0/jquery.js}"></script>
</head>
<body>
<header class="am-topbar admin-header">
  <div class="am-topbar-brand">
    <strong style="color: red">HAND</strong>
    <small th:text = "${user.organization}"></small>
  </div>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

    <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
      <li><a href="javascript:;"><span class="am-icon-envelope-o"></span> 通知<span class="am-badge am-badge-warning">5</span></a></li>
      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          <span class="am-icon-users" th:text = "${user.name}"></span> <span class="am-icon-caret-down"></span>
        </a>
        <ul class="am-dropdown-content">
          <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
          <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
          <li><a href="javascript:;" onclick="logout()"><span class="am-icon-power-off"></span> 退出</a></li>
        </ul>
      </li>
      <li><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
    </ul>
  </div>
</header>

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <div class="admin-sidebar">
    <ul class="am-list admin-sidebar-list">
      <li><a href="admin-index"><span class="am-icon-home"></span> 首页</a></li>
      <li class="admin-parent">
        <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 系统管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
        <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
          <li><a href="admin-user"><span class="am-icon-puzzle-piece"></span>用户管理</a></li>
          <li><a href="admin-notice"><span class="am-icon-bookmark"></span> 公告管理</a></li>
        </ul>
      </li>
      <li><a href="javascript:;" onclick="logout()"><span class="am-icon-sign-out"></span>注销</a></li>
    </ul>

    <div class="am-panel am-panel-default admin-sidebar-panel">
      <div class="am-panel-bd">
        <p><span class="am-icon-bookmark"></span> 公告</p>
        <p th:text ="${notice.noticeText}"></p>
        <p th:text ="${notice.userName}" align="right"></p>
        <p th:text ="${notice.noticeDate}" align="right"></p>
      </div>
    </div>
  </div>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">任务管理</strong>/<small>消息提醒</small></div>
    </div>

    <div class="am-tabs am-margin" data-am-tabs>
      <ul class="am-tabs-nav am-nav am-nav-tabs">
        <li><a href="#tab">邮件编辑</a></li>
      </ul>

      <div class="am-tabs-bd">

        <div class="am-tab-panel am-fade" id="tab">
          <form class="am-form" id="mailForm">

            <div class="am-g am-margin-top-sm">
            <div class="am-u-sm-2 am-text-right">
              收件人
            </div>
            <div class="am-u-sm-4 am-u-end">
              <input type="text" class="am-input-sm" th:value = "${task.userName}"
                     name="userName" id="userName"
                     readonly="readonly">
            </div>
          </div>
            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-2 am-text-right">
                发件人
              </div>
              <div class="am-u-sm-4 am-u-end">
                <input type="text" class="am-input-sm" th:value = "${user.name}"
                       name="sender" id="sender"
                       readonly="readonly">
              </div>
            </div>

            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-2 am-text-right">
                标题
              </div>
              <div class="am-u-sm-4 am-u-end">
                <input type="text" name="subject" id="subject"
                       class="am-input-sm" value="【工作任务管理系统提醒邮件】" >
              </div>
            </div>
            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-2 am-text-right">
                邮件内容
              </div>
              <div class="am-u-sm-4 am-u-end">
                <textarea   rows="4" name="content" id="content"   placeholder="键入邮件内容"></textarea>
              </div>
            </div>


          </form>
        </div>
      </div>
    </div>

    <div class="am-margin">
      <button type="button" class="am-btn am-btn-primary am-btn-xs" onclick="sendMail()">发送邮件</button>
    </div>
  </div>
  <!-- content end -->

</div>


<!--<footer>
  <hr>
  <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>-->
<script th:inline="javascript">
    function sendMail() {
        var userId = [[${task.userId}]];
        var mailContent = $("#content").val();
        var mailSubject = $("#subject").val();
        if ((mailContent==""||mailContent==null)||(mailSubject==""||mailSubject==null)){
            alert("请输入邮件标题与内容");
        }
        else{
            $.ajax({
                type : "POST",
                url : "/work-task-manage/admin/send-message?userId="+userId,
                data : $("#mailForm").serialize(),
                success:function (data) {
                    if ("success"==data){
                        alert("发送成功")
                        window.location.href = "/work-task-manage/admin/admin-index";
                    }
                    else{
                        alert("发送失败，"+data.errMsg)
                    }
                }
            });
        }
    }
    function logout() {
        if (confirm("确定要注销吗？")){
            window.location.href = "logout";
        }
    }
</script>
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script th:src="@{../assets/js/polyfill/rem.min.js}"></script>
<script th:src="@{../assets/js/polyfill/respond.min.js}"></script>
<script th:src="@{../assets/js/amazeui.legacy.js}"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script th:src="@{../assets/js/jquery.min.js}"></script>
<script th:src="@{../assets/js/amazeui.min.js}"></script>
<!--<![endif]-->
<script th:src="@{../assets/js/app.js}"></script>
</body>
</html>
