<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>工作进度管理-用户管理</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" th:href="@{../assets/img/work.png}">
  <link rel="apple-touch-icon-precomposed" th:href="@{../assets/i/app-icon72x722x.png}">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" th:href="@{../assets/css/amazeui.min.css}"/>
  <link rel="stylesheet" th:href="@{../assets/css/admin.css}">
  <script type="text/javascript" th:src="@{../webjars/jquery/3.0.0/jquery.js}"></script>
  <script type="text/javascript" th:src="@{../assets/js/jquery.pagination.js}"></script>
</head>
<body onload="init()">
<header class="am-topbar admin-header">
  <div class="am-topbar-brand">
    <strong style="color: red">HAND</strong>
    <small th:text = "${user.organization}"></small>
  </div>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

    <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
      <li><a href="javascript:;"><span class="am-icon-envelope-o"></span> 通知<span class="am-badge am-badge-warning">5</span></a></li>
      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          <span class="am-icon-users" th:text = "${user.name}"></span> <span class="am-icon-caret-down"></span>
        </a>
        <ul class="am-dropdown-content">
          <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
          <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
          <li><a href="javascript:;" onclick="logout()"><span class="am-icon-power-off"></span> 退出</a></li>
        </ul>
      </li>
      <li><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
    </ul>
  </div>
</header>

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <div class="admin-sidebar">
    <ul class="am-list admin-sidebar-list">
      <li><a href="admin-index"><span class="am-icon-home"></span> 首页</a></li>
      <li class="admin-parent">
        <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 系统管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
        <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
          <li><a href="admin-user"><span class="am-icon-puzzle-piece"></span>用户管理</a></li>
          <li><a href="admin-notice"><span class="am-icon-bookmark"></span> 公告管理</a></li>
        </ul>
      </li>
      <li><a href="javascript:;" onclick="logout()"><span class="am-icon-sign-out"></span>注销</a></li>
    </ul>

    <div class="am-panel am-panel-default admin-sidebar-panel">
      <div class="am-panel-bd">
        <p><span class="am-icon-bookmark"></span> 公告</p>
        <p th:text ="${notice.noticeText}"></p>
        <p th:text ="${notice.userName}" align="right"></p>
        <p th:text ="${notice.noticeDate}" align="right"></p>
      </div>
    </div>
  </div>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">用户管理</strong> / <small>所有用户</small></div>
    </div>

    <div class="am-g">
      <div class="am-u-md-6 am-cf">
        <div class="am-fl am-cf">
          <div class="am-btn-toolbar am-fl">
            <div class="am-btn-group am-btn-group-xs">
              <button onclick="location.href='add-user.html'" type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</button>
              <button type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span> 保存</button>
              <button type="button" class="am-btn am-btn-default"><span class="am-icon-archive"></span> 审核</button>
              <button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>
            </div>

            <div class="am-form-group am-margin-left am-fl">
              <select id="userSelect" onchange="init()">
                <option value="2" selected = "selected">全部</option>
                <option value="0">用户</option>
                <option value="1">管理员</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="am-u-md-3 am-cf">
        <div class="am-fr">
          <div class="am-input-group am-input-group-sm">
            <input type="text" class="am-form-field">
            <span class="am-input-group-btn">
                  <button class="am-btn am-btn-default" type="button">搜索</button>
                </span>
          </div>
        </div>
      </div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12">
        <form class="am-form">
          <table class="am-table am-table-striped am-table-hover table-main" id="userTable">
            <thead>
            <tr>
              <th class="table-check"><input type="checkbox" /></th>
              <th class="table-id">ID</th>
              <th class="table-title">工号</th>
              <th class="table-type">登录名</th>
              <th class="table-author">姓名</th>
              <th class="table-date">组织</th>
              <th class="table-set">职位</th>
              <th class="table-set">操作</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          <div class="am-cf">
            <span id="record_count"></span>
            <div class="am-fr">
              <div id="page" align="right"></div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
  <!-- content end -->

</div>


<!--<footer>
  <hr>
  <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>-->
<script th:inline="javascript">
    function logout() {
        if (confirm("确定要注销吗？")){
            window.location.href = "logout";
        }
    }
    var pageIndex = 1;     //页面索引初始值
    var pageSize = 5;     //每页显示条数初始化，修改显示条数，修改这里即可
    var PageCount = 0;//数据长度，决定展示页的数量
    function init (){
      PageCount = getListCount();    //获取Count长度
      InitPager();
    }
    function InitPager() {
      //分页，PageCount是总条目数，这是必选参数，其它参数都是可选
      $("#page").pagination(PageCount, {
        callback: PageCallback,  //PageCallback() 为翻页调用次函数。
        prev_text: "上一页",
        next_text: "下一页",
        items_per_page: pageSize,
        num_edge_entries: 2,       //两侧首尾分页条目数
        num_display_entries: 3,    //连续分页主体部分分页条目数
        current_page: pageIndex - 1,   //当前页索引
      });
    }
    //翻页调用
    function PageCallback(index) {
      getUserList(index + 1);
    }
    function getListCount() {
      $.ajaxSetup({
        async:false
      });
      $.ajax({
        type:"GET",
        url:"/work-task-manage/admin/getUserListSize",
        success:function (data) {
          PageCount = data;
        }
      });
      return PageCount;
    }

    function getUserList(pageIndex) {
        $("#userTable tbody").empty();
        var userType = $("#userSelect").val();
        $.ajax({
            type:"GET",
            url:"/work-task-manage/admin/user-list?pageIndex="+pageIndex+"&pageSize="+pageSize,
            dataType:"json",
            success:function(data){
                var list = eval(data.userList); //数组
                $.each(list, function (index, item) {
                    //循环获取数据
                    var userId = list[index].userId;
                    var jobNumber =list[index].jobNumber;
                    var userName = list[index].username;
                    var name = list[index].name;
                    var organization = list[index].organization;
                    var position = list[index].position;
                    var type = list[index].type;
                    var td = "<td><input type=\"checkbox\" /></td>"+"<td id='userId'>"+userId+"</td>"+"<td id='jobNumber'>"+jobNumber+"</td>"+"<td>"+userName+"</td>"+"<td>"+name+"</td>"+
                        "<td>"+organization+"</td>" +"<td>"+position+"</td>"+"<td><div class=\"am-btn-toolbar\">\n" +
                        "                  <div class=\"am-btn-group am-btn-group-xs\">\n" +
                        "                    <button type='button' onclick=\"modifyUser("+userId+")\" class=\"am-btn am-btn-default am-btn-xs am-text-secondary\"><span class=\"am-icon-pencil-square-o\"></span> 编辑</button>\n"+
                        "                    <button type='button'onclick=\"deleteUser("+userId+")\" class=\"am-btn am-btn-default am-btn-xs am-text-danger\" ><span class=\"am-icon-trash-o\"></span> 删除</button>\n" +
                        "                  </div>" +
                        "                </div><td>";
                    if (userType=="2"||userType==type){
                        $("#userTable").append("<tr>" + td + "</tr>");
                    }
                });
            }
        });
    }
    function modifyUser(userId) {
        if (userId!=""){
            window.location.href = "/work-task-manage/admin/modify-user?userId="+userId;
        }
        /*var trList = $("#userTable tbody").find("tr");
        for (var i=0;i<trList.length;i++) {
            var user_id = $(trList[i]).children("#userId").text();
            var job_number = $(trList[i]).children("#jobNumber").text();
            if (user_id==userId) {
                $(trList[i]).attr("contenteditable",true);
            }
        }*/
    }
    function deleteUser(userId) {
        if (confirm("确定删除吗?")){
            $.ajax({
                type:"POST",
                url: "/work-task-manage/admin/delete-user?userId="+userId,
                success:function (data) {
                    if ("success"==data){
                        window.location.reload();
                    }
                    else{
                        alert("删除失败"+data.errMsg);
                    }
                }
            });
        }
    }
</script>
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script th:src="@{../assets/js/polyfill/rem.min.js}"></script>
<script th:src="@{../assets/js/polyfill/respond.min.js}"></script>
<script th:src="@{../assets/js/amazeui.legacy.js}"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script th:src="@{../assets/js/amazeui.min.js}"></script>
<!--<![endif]-->
<script th:src="@{../assets/js/app.js}"></script>
</body>
</html>