<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.UserDao">
    <select id="queryAllUserInfo" resultType="com.example.demo.entity.User">
        SELECT *
        FROM
        tb_user
        ORDER BY job_number
        ASC
    </select>
    <select id="queryUserById" parameterType="int" resultType="com.example.demo.entity.User">
        SELECT
        *
        from
        tb_user
        WHERE
        user_id = #{userId}
    </select>
    <select id="queryUserLogin" parameterType="String" resultType="com.example.demo.entity.User">
        SELECT *
        FROM
        tb_user
        WHERE
        binary  username = #{username} AND binary  password = #{password}
        /*binary用于区分大小写*/
    </select>
    <select id="queryUserByName" parameterType="String" resultType="com.example.demo.entity.User">
        SELECT *
        FROM
        tb_user
        WHERE
        binary username = #{username}
    </select>
    <insert id="insertUser" parameterType="com.example.demo.entity.User" useGeneratedKeys="true" >
        INSERT INTO
        tb_user(job_number,username,type,name,organization,position)
        VALUES (#{jobNumber},#{username},#{type},#{name},#{organization},#{position})
    </insert>
    <delete id="deleteUserById" parameterType="int" >
        DELETE
        FROM
        tb_user
        WHERE
        user_id = #{userId}
    </delete>
    <update id="updateUserInfo" parameterType="com.example.demo.entity.User" useGeneratedKeys="true">
        UPDATE
        tb_user
        SET
        job_number = #{jobNumber},
        username = #{username},
        name = #{name},
        password = #{password},
        organization = #{organization},
        position = #{position },
        type = #{type}
        WHERE
        user_id = #{userId}
    </update>

    <select id="queryMailUser" resultType="com.example.demo.entity.Result">
        SELECT count(*) count_num,t2.name, t2.mail
        FROM tb_task t1, tb_user t2
        WHERE CURDATE()-ex_end_date >=1
        AND task_status = '进行中'
        AND T1.user_id = T2.user_id
        GROUP BY t2.name,t2.mail
    </select>
    <select id="queryUserCount" resultType="int">
        SELECT count(user_id)
        FROM
        tb_user
    </select>
</mapper>